body {
  background-color: white;
  font-family: Comfortaa, sans-serif;
  color: #333;
  margin: 0;
}

nav {
	display: block;
}
h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}

p {
	font-family: Lato, sans-serif;
	line-height: 1.8em;
}

.w-nav{position:relative;background:#dddddd;z-index:1000}.w-nav:before,.w-nav:after{content:" ";display:table;grid-column-start:1;grid-row-start:1;grid-column-end:2;grid-row-end:2}.w-nav:after{clear:both}


.w-nav-menu{position:relative;float:right}[data-nav-menu-open]{display:block !important;position:absolute;top:100%;left:0;right:0;background:#C8C8C8;text-align:center;overflow:visible;min-width:200px}

.w-container{
	max-width:none;
	margin-left:0;margin-right:0;
}

.w-container:before,.w-container:after{content:" ";display:table;grid-column-start:1;grid-row-start:1;grid-column-end:2;grid-row-end:2}.w-container:after{clear:both}


.body {
  height: auto;
  max-height: none;
  max-width: none;
}

.nav {
  position: static;
  display: block;
  width: auto;
  max-width: none;
  height: 60px;
  padding: 15px 2vw 0 2vw;
  font-size: 1em;
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
  -o-object-fit: fill;
  object-fit: fill;
}

.navbar {
  position: static;
  top: 5vh;
  background-color: transparent;
}

.nav-link {
  color: #08695b;
  font-weight: 700;
  position:relative;
  display:inline-block;
  text-decoration:none;
  padding:20px;
}

.div-block {
  padding: 20vh 0 20vh 15%;
  display: flex;
}

.heading {
  color: #41b3a3;
  font-size: 7em;
  font-weight: 400;
  line-height: 1;
  white-space: nowrap;
}

#bg {
	background-color: #fce6d7;
	position: absolute;
	top: 0;
	min-height: 554px;
	height: 65vh;
	width: 100%;
	z-index: -1;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: center;
  -ms-flex-pack: justify;
  justify-content: center;
  margin-bottom: 2vh;
}

.section {
  padding-bottom: 30vh;
}

.text-block-2 {
  margin-top: 10vh;
  padding: 7vh 3vw;
  text-align: right;
}

.sub {
   color: #41b3a3;
   font-size: 1.4em;
   line-height: 1.5;
}

.w-nav-link {
	position:relative;
	display:inline-block;
	vertical-align:top;
	text-decoration:none;
	color:#222222;
	padding:20px;
	text-align:left;
	margin-left:auto;
	margin-right:auto;
}

.w-nav-link:active {
	color:#08695b;
}

.w-nav-link:target {
	color:#08695b;
}

.img-page {
	height: 85vh;
}

.titleblock {
	padding-top: 85px;
	padding-left: 2%;
	padding-bottom: 30px;
	width: auto;
	max-width: 30%;
}

.title {
	color: #ffede0;
}

.section-page {
	background-color: ;
}

.page {
	background-color: #15211f;
}

.description { 
	color: #ffede0;
}

.a {
  text-decoration: none;
  display: inline-block;
}

.previous, .next {
  background-color: white;
  color:  black;
  border-radius: 50%;
  font-family: comfortaa;
  padding: 8px 16px;
  text-decoration: none;
}

.previous:hover, .next:hover {
  background-color: #43a092;
  color: white;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top:100px;
}

.main {
	animation: transitionIn 1s;
}

@keyframes transitionIn {
	from {
		opacity: 0;
		transform: rotateX(-10deg);
	}
	to {
		opacity: 1;
		transform: rotateX(0);
	}
}

.pro-contain {
	position: relative;
}

.project {
	filter: brightness(100%);
	transition: 0.5s ease;
	backface-visibility: hidden;
	height: 30vw;
	width: 30vw;
	object-fit: cover;
	object-position: 50% 0%;
}

.pro-contain:hover .project{
	filter: brightness(20%);
}

.pro-text {
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1.5em;
  line-height: 1.5em;
}

.pro-contain:hover .pro-text {
	opacity: 1;
}