@font-face {
  font-family: "Comfortaa";
  font-weight: 400;
  src: url("/fonts/Comfortaa-Regular.ttf");
}
@font-face {
  font-family: "Comfortaa";
  font-weight: 700;
  src: url("/fonts/Comfortaa-Bold.ttf");
}
@font-face {
  font-family: "Lato";
  font-weight: 400;
  src: url("/fonts/Lato-Regular.ttf");
}
body {
  background-color: white;
  font-family: "Comfortaa", sans-serif;
  color: #333;
  margin: 0;
}

nav {
	display: block;
}
h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}

p {
	font-family: "Lato", sans-serif;
	line-height: 1.8em;
}

.w-nav{position:relative;background:#dddddd;z-index:1000}.w-nav:before,.w-nav:after{content:" ";display:table;grid-column-start:1;grid-row-start:1;grid-column-end:2;grid-row-end:2}.w-nav:after{clear:both}


.w-nav-menu{position:relative;float:right}[data-nav-menu-open]{display:block !important;position:absolute;top:100%;left:0;right:0;background:#C8C8C8;text-align:center;overflow:visible;min-width:200px}

.w-container{
	max-width:none;
	margin-left:0;margin-right:0;
}

.w-container:before,.w-container:after{content:" ";display:table;grid-column-start:1;grid-row-start:1;grid-column-end:2;grid-row-end:2}.w-container:after{clear:both}


.body {
  height: auto;
  max-height: none;
  max-width: none;
}

.nav {
  position: static;
  display: block;
  width: auto;
  max-width: none;
  height: 60px;
  padding: 15px 2vw 0 2vw;
  font-size: 1em;
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
  -o-object-fit: fill;
  object-fit: fill;
}

.navbar {
  position: static;
  top: 5vh;
  background-color: transparent;
}

.nav-link {
  color: #08695b;
  font-weight: 700;
  position:relative;
  display:inline-block;
  text-decoration:none;
  padding:20px;
}

.div-block {
  padding: 20vh 0 20vh 15%;
  display: flex;
}

.heading {
  color: #41b3a3;
  font-size: 7em;
  font-weight: 400;
  line-height: 1;
  white-space: nowrap;
}

#bg {
	background-color: #fce6d7;
	position: absolute;
	top: 0;
	min-height: 554px;
	height: 65vh;
	width: 100%;
	z-index: -1;
}

.container {
	min-width: calc(100% / 3);
	margin-bottom: 2vh;
}

.section {
  padding: 5vh 0 30vh 0;
}

.text-block-2 {
  margin-top: 10vh;
  padding: 7vh 3vw;
  text-align: right;
}

.sub {
   color: #41b3a3;
   font-size: 1.4em;
   line-height: 1.5;
}

.w-nav-link {
	position:relative;
	display:inline-block;
	vertical-align:top;
	text-decoration:none;
	color:#222222;
	padding:20px;
	text-align:left;
	margin-left:auto;
	margin-right:auto;
}

.w-nav-link:active {
	color:#08695b;
}

.w-nav-link:target {
	color:#08695b;
}

.workpage {
	display: flex;
	padding-top: 85px;
}

.img-page {
	height: 85vh;
	object-fit: contain;
}

.vimeo {
	position: relative;
	height: 0;
	width: calc(100% / 3 + 25vw);
	margin: auto;
}

.square {
	padding-bottom: 75%;
	margin-top: -15.5%;
	margin-bottom: -15.5%;
}

.landscape {
	padding-bottom: 56.25%;
	margin-top: -12%;
	margin-bottom: -12%;
}

.titleblock {
	padding: 0 0 30px 2vw;
	margin-right: 13vw;
	max-width: calc(100% / 3 - 18vw) ;
	z-index: 2;
	position: absolute;
	background-color: #15211f;
}

.title {
	color: #ffede0;
}

.page {
	background-color: #15211f;
}

.description, .description2, figcaption {
	color: #ffede0;
	font-size: 0.8em;
}

.description2 {
	margin-top: 5em;
}

.mid {
	padding: 0 0 30px 2vw;
	margin-right: 13vw;
	max-width: calc(100% / 3 - 18vw) ;
	z-index: 2;
	background-color: #15211f;
}

.one {
	display: flex;
	flex-direction: column;	
	gap: 5vh;
	z-index: 0;
	
} 

.a {
  text-decoration: none;
  display: inline-block;
}

.previous, .next {
  background-color: white;
  color:  black;
  border-radius: 50%;
  font-family: "Comfortaa";
  padding: 8px 16px;
  text-decoration: none;
}

.previous:hover, .next:hover {
  background-color: #43a092;
  color: white;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top:100px;
}

.main {
	animation: transitionIn 1s;
}

@keyframes transitionIn {
	from {
		opacity: 0;
		transform: rotateX(-10deg);
	}
	to {
		opacity: 1;
		transform: rotateX(0);
	}
}

.pro-contain {
	position: relative;
}

.project {
	filter: brightness(100%);
	transition: 0.5s ease;
	backface-visibility: hidden;
	height: 30vw;
	width: 30vw;
	object-fit: cover;
	object-position: 50% 0%;
}

.pro-contain:hover .project{
	filter: brightness(20%);
}

.pro-text {
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1.5em;
  line-height: 1.5em;
}

.pro-contain:hover .pro-text {
	opacity: 1;
}

.process, .process2 {
	margin: 0 auto 0 auto;
	display: flex;
	justify-content: center;
	min-width: 40vw;
	gap: 20px;
}

.process {
	margin-top: 15vh;
}

.gif {
		height: 30vh;
}

.gif2 {
		height: 50vh;
}